.title {
  height:55px;
  background:#3d3d3d;
  padding-left:30px;
  color:white;
  font-size:20px;
  font-family: Noto Sans KR;
  padding-top:24px;
  position: static;
}
.title:hover {
  color:lightgray;
}
a {
  text-decoration: none;
  color: white;
}
::selection {
    background:gray;
    color: #FFF;
    text-shadow: none;
}
::-moz-selection {
    background:#99CC00;
    color: #FFF;
    text-shadow: none;
}
::-webkit-selection {
    background:#99CC00;
    color: #FFF;
    text-shadow: none;
}
* {
  margin:0;
  /*background: #3d3d3d;*/
}
.e {
  background: #3d3d3d;
}
.content {
  margin:10px;
  text-align: center;
  font-family: NanumSquare;
  background: white;
}
.maindoor {
  font-family: KBIZHanmaumGothic;
  height: 30%;
  padding-top: 20%;
  padding-bottom: 10%;
  padding-left: 5%;
  color: white;
  font-size: 50%;
  /*background-image: url('https://live.staticflickr.com/2119/5702068774_0d0967e3df_b.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;*/
  text-shadow: black 0px 0px 10px;
}
.maindoor #title {
  font-size: 3.5em;
  font-family: NanumSquare;
}
#content-gray {
  padding-top: 50px;
  color: gray;
  font-size: 50px;
}
.container {
  margin-top: 50px;
}
.sidenav {
			height:100%;
			width: 0;
			position: fixed;
			z-index:1;
			top: 0;
			left: 0;
			background-color: gray;
			overflow-x: hidden;
			transition:0.5s ease-in-out;
			padding-top: 60px;
		}
		.sidenav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			text-align:center;
			color: #fff;
			display: block;
			transition: 0.2s ease-in-out;
		}
		.sidenav a:hover, .offcanvas a:focus {
			color: #000;
		}
		.closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px !important;
			margin-left: 50px;
		}
		.openmenu {
			font-size: 25px;
			cursor:pointer;
			transition:0.5s ease-in-out;
		}
		.openmenu > i {
			font-size: 30px;
		}
		#main {
			transition:0.5s ease-in-out;
		}
		/* 미디어쿼리 적용 */
		@media screen and (max-height:450px) {
			.sidenav {
				padding-top:15px;
			}
			.sidenav a {
				font-size: 18px;
			}
		}
    ::-webkit-scrollbar {

    display:none;

    }
