@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
/*Ubuntu*/
body {
  margin: 0;
  font-family: nanumgothic;
}
.title{
  color: white;
  padding-left: 5vw;
  padding-top: 15px;
  font-size: 20px;
  width: 100%;
  position: fixed;
  background: invisible;
  height: 40px;
}
header .scroll{
  background-color:#589f7b;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.bg {
  width: 100%;
  height: 100vh;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  ),
  url('https://cdn.discordapp.com/attachments/592729472579665926/593096779202035722/2019-06-26_00.14.26.png');
  z-index:-1;
}
.bg .title a{
  text-decoration: none;
  color: white;
}
#menu {
  float: right;
}
.bg .title logo {
  margin-left: 30px;
  font-family: Merriweather;
  position: fixed;
}
.bgcontent {
  padding-top: 30vh;
  text-align: center;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  text-shadow: 10px 4px 30px black;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
::-webkit-scrollbar {
display:none;
}
#back-to-top {
  display: inline-block;
  background-color: gray;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: gray;
}
#back-to-top:active {
  background-color: lightgray;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
